@import 'global';
@import 'vars';
@import 'fonts';


.image-top__inner{
	height: 693px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

// HEADER
.header__inner{
  display: flex;
	justify-content: space-between;
	height: 63px;
	align-items: flex-end;
}
.header__logo{
	a{
		font-weight: 700;
		font-size: 30px;
		color: #ffffff;
		transition: all .5s;
	}
	a:hover{
		color: $yellow;
	}
}
.header__menu{
	font-weight: 700;
	font-size: 10px;
 	ul{
	 display: flex;
    li + li{
    	margin-left: 35px;
    }
	}  
	a{
		color: #ffffff;
		transition: all .3s;
	}
	a:hover{
		color: $yellow;
	}
}

.slider-top__inner{
	margin-top: 125px;
	max-width: 490px;
	width: 100%;
	padding-left: 5px;
}
.slider-top__title{
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 25px;
}
.slider-top__text{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-size: 19px;
	font-weight: 100;
	margin-bottom: 35px;
}
.button__yellow{
	font-weight: 700;
	border-radius: 5px;
	margin-right: 5px;
	padding: 15px 25px;
	background-color: $yellow;
	transition: all .3s;
	cursor: pointer;
}
.button__yellow:hover{
	background-color: $purple;
	color: #ffffff;
}
.slick-dots{
	margin-top: 215px;
	display: flex;
	li{
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background-color: #a99a9e;
		button{
			display: none;
		}
		& + li{
			margin-left: 8px;
		}
	}
	.slick-active{
		background-color: #ffffff;
	}
}

// WELCOME
.welcome__inner{
	margin-top: 85px;
	margin-bottom: 54px;
	border-bottom: 2px solid #e7e7e7;
}
.title{
	font-weight: 700;
	font-size: 44px;
	text-align: center;
	margin-bottom: 45px;
}
.welcome__wrapper{
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	height: 200px;
	align-items: center;
}
.welcome__text{
	@include f400;
	max-width: 450px;
	font-size: 30px;
}
.welcome__umbrella{
	background-image: url(../images/icons/umbrella.svg);
	width: 187px;
	height: 195px;
}
.welcome__items{
	margin-bottom: 58px;
	display: flex;
	justify-content: space-between;
}
.welcome__item{
	text-align: center;
	max-width: 165px;
	flex-wrap: wrap;
}
.welcome__item-logo{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: $purple;
	margin-bottom: 32px;
	&.logo-bell::before,
	&.logo-envelope::before,
	&.logo-drawer::before{
		position: absolute;
		content: '';
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&.logo-bell::before{
		background-image: url(../images/icons/bell.svg);
		width: 35px;
		height: 39px;
	}
	&.logo-envelope::before{
		background-image: url(../images/icons/envelope.svg);
		width: 35px;
		height: 27px;
	}
	&.logo-drawer::before{
		background-image: url(../images/icons/drawer.svg);
		width: 29px;
		height: 33px;
	}
}
.welcome__item-title{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	color: $purple;
	margin-bottom: 25px;
}
.welcome__item-text{
	font-size: 15px;
	color: #929293;
	margin-bottom: 37px;
}

// PROJECTS
.projects__inner{
	display: flex;
	justify-content: 25%;
	margin-bottom: 80px;
}
.projects__item{
	max-width: 350px;
	&:hover{
		.projects__item__inner{
			background-color: $yellow;
			transition: all .5s;
		}
		.projects__item-text{
			color: #827339;
			transition: all .3s;
		}
		.projects__item-btn{
			a{
				color: #fff;
				background-color: $purple;
				transition: all .3s;
			}
		}
	}
}
.projects__item__inner{
	height: 240px;
	background-color: #efefef;
	padding-left: 43px;
	padding-right: 30px;
}
.projects__item-title{
	padding-top: 45px;
	margin-bottom: 14px;
	font-weight: 700;
	color: $text;
	text-transform: uppercase;
}
.projects__item-text{
	color: #929293;
	line-height: 24px;
	margin-bottom: 15px;
}
.projects__item-btn{
	a{
		color: #323232;
		font-size: 11px;
		font-weight: 700;
		border-radius: 5px;
		margin-right: 5px;
		padding: 15px 25px;
		background-color: #fefefe;
		transition: all .3s;
		text-transform: uppercase;
	}
}

// PRICING
.pricing__inner{
	display: flex;
	justify-content: space-around;
	margin-bottom: 90px;
	text-align: center;
}
.pricing__item{
	max-width: 235px;
	padding: 0px 35px;
	& + &{
		border-left: 2px solid #e7e7e7;
	}
}
.pricing__item-title{
	font-weight: 700;
	margin-bottom: 20px;
}
.pricing__item-price{
	color: #9d9d9d;
	margin-bottom: 20px;
}
.pricing__item-tags{
	li{
		font-size: 11px;
		padding-bottom: 11px;
		line-height: 14px;
		font-weight: 700;
	}
}
.pricing__item-btn{
	display: inline-block;
	margin-top: 10px;
	a{
		width: 80px;
		font-size: 12px;
		font-weight: 700;
		border-radius: 5px;
		padding: 9px 25px;
		background-color: $yellow;
		transition: all .3s;
	}
	a:hover{
		color: #fff;
		background-color: $purple;
	}
}

// VIDEO PROJECTS
.video-slider{
	background-color: $purple;
	margin-bottom: 75px;
}
.video-slider__title{
	padding-top: 85px;
	color: #fff;
	padding-bottom: 35px;
}
.video-slider__wrapper{
	margin: 0 auto;
	max-width: 678px;
}
.slider__video{
	padding-bottom: 25px;
}
.slider__nav{
	padding-bottom: 115px;
	ul{
		display: flex;
		justify-content: space-between;
	}
	li{
		color: #fff;
		font-weight: 700;
	}
}

// TEAM
.team__inner{
	display: flex;
	justify-content: space-between;
	margin-bottom: 135px;
	flex-wrap: wrap;
}
.team__item{
	max-width: 180px;
	margin-bottom: 60px;
	text-align: center;
	position: relative;
	&:hover{
		.team__item-photo{
			display: block;
			opacity: .2;
			transition: all .3s;
		}
		.team__item-circle{
			display: block;
			background-color: $purple;
			transition: all .3s;
		}
		.team__link{
			a{
				display: block;
				transition: all .3s;
			}
		}
	}
}
.team__item-photo{
	background-position: -88px 0;
	width: 173px;
	height: 173px;
	border-radius: 50%;
	margin-bottom: 25px;	
}
.team__item-name{
	font-weight: 700;
	margin-bottom: 13px;
}
.team__item-post{
	color: #a1a1a1;
}
.team__link{
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	padding: 0px 22px;
	width: 173px;
	height: 173px;
	border-radius: 50%;
	align-items: center;
	a{
		display: none;
	}
}
.team__item-circle{
	height: 0;
	display: none;
	width: 173px;
	height: 173px;
	border-radius: 50%;
	position: absolute;
	top: 0;
}

// SLIDER LIFE
.slider-life{
	padding-bottom: 105px;
	background-color: #efefef;
}
.slider-life__title{
	padding-top: 75px;
}
.slider-life__top-photo{
	width: auto;
	height: 429px;
	margin-bottom: 10px;
}
.slider-life__bottom-photo{
	padding: 0px 5px 0px 5px;
}
.slick-arrow{
	width: 31px;
	height: 67px;
	background-color: #2a2a2a;
	border: 1px solid #cccccc;
	position: absolute;
	z-index: 5;
	transition: all .3s;
	img{
		margin: 0 auto;
	}
}
.slick-arrow:hover,
.slick-arrow:focus{
	background-color: $purple;
}
.slick-prev{
	bottom: -67px;
}
.slick-next{
	right: 0;
	bottom: -67px;
}

// SIGNUP
.signup{
	margin-bottom: 70px;
}
.signup__bg{
	height: 329px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.signup__title{
	padding-top: 55px;
	color: #fff;
}
.signup__form{
	max-width: 550px;
	position: relative;
	margin: 0 auto;
	text-align: right;
	form{
		height: 145px;
	}
	input{
		font-size: 20px;
		padding-right: 125px;
		width: 100%;
		height: 55px;
		border: none;
		border-radius: 3px;
		padding-left: 15px;
		&::placeholder{
			color: #d8d8d8;
		}
	}
	button{
		position: absolute;
		font-size: 11px;
		border: none;
		width: 120px;
		height: 56px;
		right: -5px;
	}
	button + button{
		top: 77px;
	}
}

// BLOG
.blog__inner{
	display: flex;
	justify-content: space-between;
	margin-bottom: 88px;
	flex-wrap: wrap;
}
.blog__item{
	max-width: 210px;
	text-align: center;
}
.blog__photo{
	margin-bottom: 35px;
}
.blog__h1{
	padding: 0px 5px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	margin-bottom: 20px;
}
.blog__date{
	color: #d8d8d8;
	margin-bottom: 20px;
}
.blog__text{
	@include f400;
	line-height: 23px;
	margin-bottom: 30px;
}
.blog__btn{
	max-width: 130px;
	font-size: 11px;
	margin: 0 auto;
	margin-bottom: 30px;
	&.button__yellow{
		background-color: #ececec;
	}
	&.button__yellow:hover{
		background-color: $yellow;
		color: #040405;
	}
}

// BLOG
.contact{
	margin-bottom: 75px;
}
.contact__inner{
	background: $yellow;
	display: flex;
}
.contact__form-inner{
	padding-left: 45px;
}
.contact__map{
	background-color: #fff;
}
.contact__title{
	padding-top: 50px;
	text-align: left;
}
.contact__form{
	width: 310px;
	padding-bottom: 47px;
	input{
		font-size: 15px;
		width: 100%;
		height: 44px;
		border: none;
		border-radius: 3px;
		padding-left: 15px;
	}
	button{
		width: 100%;
		background-color: #ececec;
		border: none;
		font-size: 11px;
		padding-bottom: 14px;
	}
}
.contact__form-name{
	margin-bottom: 20px;
	textarea{
		height: 145px;
		width: 100%;
		resize: none;
		padding: 10px 10px 0px 15px;
		border: none;
	}
}
.contact__form-text{
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 12px;
}

// FOOTER
.footer{
	margin-bottom: 125px;
	background-color: #fefefe;
}
.footer__inner{
	display: flex;
	justify-content: space-around;
}
.footer__item{
	max-width: 150px;
	width: 100%;
	text-align: center;
}
.footer__title{
	font-weight: 700;
	margin-bottom: 18px;
}
.footer__adress-text{
	line-height: 24px;
	@include f400;
}
.footer__follow-link{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	a{
		margin: 7px 15px;
	}
}
.footer__contact-info{
	line-height: 24px;
	@include f400;
}




